header{
    height: 100vh;
    padding-top: 3rem;
    overflow:hidden;
}
.header_container{
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
}
.headertxt>h4{
    color:var(--color-primary-variant);
    font-weight: bolder;
    font-size:1.2rem;
}
/* CTA */
.cta{
    margin-top: 2.5rem;
}

/* img */
.mamePic{
    background: linear-gradient(rgb(253, 236, 140),transparent);
    background-color: var(--color-primary);
    width:26rem;
    height:26rem;
    border-radius:20rem 20rem 20rem 20rem;
    transform: rotate(-4deg);
   
}
.headertxt{
    padding-left:50px;
}


 /*  media queries for medium devices */
 @media screen and (max-width: 1024px){
    .header_container{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    .mamePic{
        background: linear-gradient(rgb(255, 243, 176),transparent);
        background-color: var(--color-primary);
        width:18rem;
        height:18rem;
        border-radius:20rem 20rem 20rem 20rem;
        margin-bottom: 10px;
       
    }


       
 }
  /*  media queries for small devices */
  @media screen and (max-width: 650px){
    .header_container{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    .mamePic{
        background: linear-gradient(rgb(255, 243, 176),transparent);
        background-color: var(--color-primary);
        width:15rem;
        height:15rem;
        border-radius:20rem 20rem 20rem 20rem;
        margin-bottom: 10px;
   
       
    }

 }
